/* .body {
    min-height: 300px;
}
.electronicsBlock {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    left: 10px;
    top: 55px
}
.col div {
    text-align: center;
    padding: 5px;
}

.booksHeadingBlock {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    left: 10px;
    top: 55px
}
.anchorTag1,.anchorTag2 {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    background-color: blue;
    color: white;
    left: 55px;
    top: 70px
}

div :hover {
    cursor: pointer;
} */
